<!DOCTYPE html>
<html lang="en" xmlns:svg="http://www.w3.org/2000/svg">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/css/images/eye.png">
    <title>Smart Surveillance</title>

    <link rel="stylesheet" href="/public/css/premiumHome.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<section>

    <body>

        <section>

            <div class="mainblock" id="main">
                <div class="logo">

                    <img src="/public/css/images/eye.png" alt="logo">
                    <p class="logotext1">
                        Smart
                    </p>
                    <p class="logotext2">
                        Surveillance
                    </p>
                </div>

                <div class="navbar" id="btn1">
                    <button class="button" onclick="openSideMenu()"> <img
                            src="/public/css/images/right-double-arrow.png" alt=""></button>

                </div>
                <div id="videocc" style="display:none ;">
                    <video id="video"></video>
                    <canvas id="canvas"></canvas>
                </div>


                <div id="carouselExampleSlidesOnly" class="carousel slide carousell" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/public/css/images/test1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/public/css/images/test2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/public/css/images/test3.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
                <div id="btn-start">
                    <button type="button" class="btn btn-primary btn-surveillance">Start
                        Surveillance</button>
                </div>
                <div id="btn-stop" style="display: none ;">
                    <button type="button" class="btn btn-primary btn-stop-surveillance">Stop
                        Surveillance</button>
                </div>

                <p id="bottomm" class="bottom-text">Smarter Security, Professionally Installed</p>
                <p class="pact-h">Pact</p>
                <div class=" pact">

                    <a href="#">
                        <img src="/public/css/images/agreement.png" alt="" class="pact-logo">
                    </a>
                </div>
                <p class="feedback-h">Feedback</p>
                <div class="feedback">

                    <a href="/premiumFeedback">
                        <img src="/public/css/images/support.png" alt="" class="feedback-logo">
                    </a>
                </div>
                <div class="search">
                    <textarea placeholder="Search"></textarea>
                </div>
                <div class="user">

                    <a href="#">
                        <img src="/public/css/images/profile-user.png" alt="">
                    </a>
                </div>
                <a link="#" class="logout-btn">
                    Log out
                </a>
            </div>

        </section>



        <div class="sidebar" id="side-menu">

            <div id="btn2">
                <a href="#" class="btn" onclick="closeSideMenu()">&times;</a>
            </div>

            <a href="#">
                <div class="home">
                    <img src="/public/css/images/home.png" alt="home" class="home-icon">
                    <p class="home-text">
                        Home
                    </p>
                </div>
            </a>

            <a href="#">
                <div class="bilateral">
                    <img src="/public/css/images/two-way-communication.png" alt="bilateral" class="bilateral-icon">
                    <p class="bilateral-text">
                        Bilateral
                    </p>
                </div>
            </a>

            <a href="#">
                <div class="facedetection">
                    <img src="/public/css/images/face-detection.png" alt="face-detection" class="facedetection-icon">
                    <p class="facedetection-text">
                        Specify Object
                    </p>
                </div>
            </a>

            <a href="#">
                <div class="criminal">
                    <img src="/public/css/images/thief.png" alt="thief" class="thief-icon">
                    <p class="thief-text">
                        Criminal Detector
                    </p>
                </div>
            </a>

            <a href="/premiumSurveillance">
                <div class="surveillance">
                    <img src="/public/css/images/surveillance-settings.png" alt="surveillance"
                        class="surveillance-icon">
                    <p class="surveillance-text">
                        Surveillance Settings
                    </p>
                </div>
            </a>



        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

        <script src="/public/js/premiumHome.js"></script>

    </body>
</section>

</html>