<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/premiumFeedback.css">
</head>

<body>
    <div class="test">Write Feedback</div>
    <div class="text">
        <textarea name="" class="feedbackText" cols="30" rows="10"
            placeholder="Say what you think about this app..."></textarea>
    </div>
    <div class="lower">
        <p>How was your experience with us?</p>
        <i class="fa fa-star" aria-hidden="true"></i>
    </div>
    <button class="btn">
        Submit
    </button>
    <button class="back">
        <a href="/premiumHome">
            <img src="/public/css/images/back arrow black.png" alt="">
        </a>

    </button>

</body>

</html>