<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/css/images/eye.png">
    <title>Smart Surveillance</title>
    <link rel="stylesheet" href="/public/css/signup.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="test">CREATE ACCOUNT</div>
    <div class="container">
        <div class="logo">

            <img src="/public/css/images/eye.png" alt="logo">
            <p class="logotext1">
                Smart
            </p>
            <p class="logotext2">
                Surveillance
            </p>
        </div>

        <div class="form-cc">
            <form action="/register" method="POST">
                <input type="text" placeholder="First Name" class="input" name="firstName">
                <br>
                <input type="text" placeholder="Last Name" class="input" name="lastName">
                <br>
                <input type="text" placeholder="User Name" class="input" name="userName">
                <br>
                <input type="text" placeholder="Email" class="input" name="userEmail">
                <br>
                <input type="password" placeholder="Password" class="input pass" name="userPassword">
                <br>
                {{!-- <input type="password" name="" id="" placeholder="Confirm Password" class="input pass"
                    name="confirmpassword"> --}}
                <input type="submit" value="Sign Up" class="btn rounded-pill btn1">
            </form>
        </div>

    </div>
    <button class="back">
        <a href="/">
            <img src="/public/css/images/back arrow black.png" alt="">
        </a>

    </button>



</body>

</html>