body {
    background-image: url('images/adminBackground.jpg');
    background-repeat: repeat;
    background-size: 100%;
    overflow: hidden;
    height: 100vh;
}

.mainclass {
    margin-top: 180px;
}

.btn:focus {
    /* outline: none;
    box-shadow: none; */
    box-shadow: none !important
}



.admin {
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 5%;
    left: 7%;
    background-color: transparent;
}

.logo {
    position: absolute;
    top: 20px;
}

.logo img {
    width: 20%;
    height: 20%;
}

.logo .logotext1 {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 18%;
    color: white;

}

.logo .logotext2 {
    color: darkblue;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    left: 34%;
    top: 40%;

}