@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    background-image: url('images/realbackground3.PNG');
    background-repeat: repeat;
    background-size: 100%;
    overflow: hidden;
    height: 100vh;


}


.mainblock {
    transition: margin-left 0.5s;
    width: 100%;
    position: relative;
    right: 0;
    /* float: right; */
    /* width: 87%; */
    background: transparent;
    height: 100vh;
}

.sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    opacity: 0.9;
    overflow: hidden;
    padding-top: 40px;
    transition: 0.5s;

    /* left: 0; */
    /* float: left; */
    /* width: 13%; */
    background-color: transparent;
    /* height: 100vh;
    overflow: hidden;
    margin-left: 0;
    transition: 0.5s; */

}

.navbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.navbar img {
    position: absolute;
    width: 30px;
}

.logout-btn {
    position: absolute;
    background-color: white;
    right: 1%;
    top: 9%;
    width: 100px;
    text-align: center;
    color: black;
    text-decoration: none;
    display: none;
}

.pact-h {
    position: absolute;
    background-color: white;
    right: 1%;
    top: 87%;
    width: 100px;
    text-align: center;
    color: black;
    text-decoration: none;
    display: none;
}

.feedback-h {
    position: absolute;
    background-color: white;
    right: 9%;
    top: 87%;
    width: 100px;
    text-align: center;
    color: black;
    text-decoration: none;
    display: none;
}

.logout-btn:hover {
    text-decoration: underline;
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

@keyframes example {
    0% {
        background-color: transparent;
        left: 0;
        top: 43%;
    }

    25% {
        background-color: transparent;
        left: 10px;
        top: 43%;
    }

    50% {
        background-color: transparent;
        left: 0px;
        top: 43%;
    }

    75% {
        background-color: transparent;
        left: 10px;
        top: 43%;
    }

    100% {
        background-color: transparent;
        left: 0;
        top: 43%;
    }
}

.button {
    position: relative;
    margin-top: 22%;
    background-color: transparent;
    border: none;
}


.side-nav a {
    position: relative;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.sidebar .btn {
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 22px;
    margin-left: 60px;
    outline: none;
    margin-top: 0;
    border: none;
}

.sidebar .btn:focus {
    outline: none;
}

.sidebar .btn:hover {
    outline: none;
    border: none;
    text-decoration: underline;
    color: red;
}

.sidebar .btn:active {
    outline: none;
}

.sidebar .btn:visited {
    outline: none;
}

#side-menu a {
    color: #171818;
    font-weight: bold;
}

.pact {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-left: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pact img {
    width: 35%;
    height: 35%;
}

.feedback {
    position: fixed;
    right: 0;
    bottom: 0.5%;
    margin-left: 88%;
    margin-right: 7%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feedback img {
    width: 75%;
    height: 75%;
}

.search {
    position: fixed;
    top: 2%;
    right: 7%;

}

textarea {
    border-radius: 13px;
    width: 167px;
    height: 35px;
    justify-content: right;
    resize: none;
    outline: none;
}

textarea::placeholder {
    padding-left: 5px;
}

.user {
    position: fixed;
    top: 1%;
    left: 94%;
}

.user img {
    width: 53%;
    height: 53%;
}

.logo {
    position: absolute;
    left: 2%;

}

.logo img {
    width: 20%;
    height: 20%;
}

.logo .logotext1 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 18%;
    color: white;

}

.logo .logotext2 {
    color: darkblue;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    position: absolute;
    left: 30%;
    top: 40%;

}

.home {
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.home img {
    width: 30%;
    height: 8%;
}

.home:hover {
    background-color: #00BDFC;
}

.bilateral {
    padding-top: 10px;
    padding-bottom: 5px;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 21%;
}

.bilateral img {
    width: 30%;
    height: 8%;
}

.bilateral:hover {
    background-color: #00BDFC;
}

.facedetection {
    padding-top: 15px;
    padding-bottom: 5px;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 38%;
}

.facedetection img {
    width: 30%;
    height: 8%;
}

.facedetection:hover {
    background-color: #00BDFC;
}

.criminal {
    padding-top: 10px;
    padding-bottom: 5px;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 55%;
}

.criminal img {
    width: 30%;
    height: 8%;
}

.criminal:hover {
    background-color: #00BDFC;
}

.surveillance {
    padding-top: 10px;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 72%;
}

.surveillance img {
    width: 30%;
    height: 8%;
}

.surveillance:hover {
    background-color: #00BDFC;
}

.activate-code {
    position: absolute;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 92%;
    background-color: orange;
    color: white;
    left: 13%;
    border: none;
}

.activate-code:hover {
    background-color: red;

}

.activation {
    position: fixed;
    top: 40%;
    left: 40%;
    background-color: blue;
    border-radius: 15px;
    text-align: center;
    width: 20%;
    height: 30%;

}

.inn {
    position: absolute;
    top: 20%;
    left: 8%;
    border-radius: 7px;
    border: none;
    outline: none;
}

.submission {
    position: absolute;
    top: 50%;
    left: 55%;

}

.submission2 {
    position: absolute;
    top: 50%;
    left: 15%;

}