@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria Serif&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.cc img {
    height: 100vh;
    width: 100vw;
}

.main {
    position: relative;
    text-align: center;
    color: black;
}


.side-bar img {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 74%;

}

.email p {
    color: white;
    font-weight: bold;
    text-align: left;
}

.password p {
    color: white;
    font-weight: bold;
    text-align: left;
}

.btn1 {
    border-radius: 15px;
    position: absolute;
    top: 75%;
    left: 35.5%;
    width: 150px;
    color: white !important;
    background-color: darkblue !important;
    border: none;
}

.btn1:hover {
    background-color: white !important;
    color: black !important;
    border: none;
    outline: none;
    transition: 0.2s ease-out;
}

.upper-text {
    font-family: "Inter";
    position: absolute;
    top: 30%;
    font-size: 35px;
    left: 80%;
    color: white;
}

.lower-text {
    position: absolute;
    left: 79%;
    color: white;
    font-size: 20px;
    font-family: "Inter";
    top: 40%;
}

.btn2 {
    border-radius: 15px;
    position: absolute;
    top: 60%;
    left: 81.5%;
    width: 150px;
}

.btn2:hover {
    background-color: darkblue !important;
    color: white !important;
    border: none;
    outline: none;
    transition: 0.2s ease-out;
}

.btn:focus {
    box-shadow: none !important
}

input:focus {
    box-shadow: none !important;
}

.email {
    margin-top: 80px;
    position: absolute;
    top: 20%;
    left: 30%;
}

.email input {
    width: 300px;
}


.password {
    margin-top: 80px;
    position: absolute;
    top: 40%;
    left: 30%;
}

.password input {
    width: 300px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 22%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo img {
    width: 20%;
    height: 20%;
}

.logo .logotext1 {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 100%;
    left: 32%;
    color: white;

}

.logo .logotext2 {
    color: darkblue;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    left: 47%;
    top: 100%;

}

.intro {
    /* height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute; */

    font-family: "Inter";
    position: fixed;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99;
}

.logo1 {
    position: fixed;
    top: 20%;
    left: 40%;
    z-index: 100;
}

.logo1 img {
    position: relative;
    width: 30%;
    height: 30%;
    left: 14%;
    z-index: 100;
}

.logo1 .logotext11 {
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
    position: absolute;
    top: 100%;
    left: 0%;
    color: white;
    letter-spacing: 0.1em;
    z-index: 100;

}

.logo1 .logotext22 {
    color: darkblue;
    font-weight: bolder;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    left: 22%;
    top: 100%;
    letter-spacing: 0.1em;
    z-index: 100;

}

.lower-text1 {
    position: fixed;
    top: 70%;
    left: 38%;
    font-size: 30px;
    color: #02005F;
    font-style: normal;
    z-index: 100;
}

.loading {
    position: fixed;
    top: 55%;
    left: 48.5%;
    font-size: 20px;
    color: #02005F;
    font-style: normal;
    z-index: 100;
}