@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria Serif&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    background-image: url('images/feedbackBackground.jpg');
    background-repeat: repeat;
    background-size: 100%;
    overflow: hidden;
    height: 100vh;


}

.test {
    font-family: "Inria Serif";
    font-size: 42px;
    position: absolute;
    left: 37%;
    margin-top: 4%;
    letter-spacing: 0.1em;
}

.feedbackText {
    border-radius: 15px;
    margin-top: 12%;
    position: absolute;
    left: 35%;
    width: 29%;
    height: 30%;
    resize: none;
    outline: none;
}

.feedbackText::placeholder {
    padding: 10px;
}

.feedbackText textarea {
    padding-left: 20px;
}

.lower {
    position: absolute;
    margin-top: 28%;
    left: 36%;
}

.lower p {
    font-size: 23px;
}

.btn {
    position: absolute;
    margin-top: 35%;
    left: 43%;
    background-color: blue;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 22px;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: darkblue;
}

.back {
    position: absolute;
    background-color: transparent;
    border: none;
    width: 2px;
    height: 2px;
    cursor: pointer;
}

.back img {
    width: 40px;
    height: 40px;
}

.fa-star {
    position: absolute;
}