@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria Serif&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    background-image: url('images/feedbackBackground.jpg');
    background-repeat: repeat;
    background-size: 100%;
    overflow: hidden;
    height: 100vh;


}

.back {
    position: absolute;
    background-color: transparent;
    border: none;
    width: 2px;
    height: 2px;
    cursor: pointer;
}

.back img {
    width: 40px;
    height: 40px;
}

.test {
    font-family: "Inria Serif";
    font-size: 42px;
    position: absolute;
    left: 37%;
    margin-top: 9%;
    letter-spacing: 0.1em;
}

.form-cc {
    position: absolute;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    top: 30%;
    left: 35%;
    padding-bottom: 70px;
}

.input {
    border: none;
    width: 400px;
    border-bottom: 1px solid black;
    padding-top: 15px;
    padding: 15px;
}

.input:focus {
    outline: none !important;
    box-shadow: none !important;
    padding-bottom: 23px;
    transition: 0.2s ease-in;
}

.btn1 {
    position: absolute;
    top: 86%;
    left: 33%;
    width: 150px;
    background-color: #021642 !important;
    color: white !important;
    border: none !important;
    height: 40px;
}

.btn1:hover {
    transition: 0.2s ease-out;
    background-color: black !important;
}


.logo {
    position: absolute;
    left: 40%;

}

.logo img {
    width: 20%;
    height: 20%;
}

.logo .logotext1 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 18%;
    color: white;

}

.logo .logotext2 {
    color: darkblue;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    position: absolute;
    left: 30%;
    top: 40%;

}